<footer class="bg-gray-800 text-white text-center py-4">
    <p>&copy; 2025 João Álvaro. Todos os direitos reservados.</p>
    <div id="social" class="mt-2">
        <p>Siga-me nas redes sociais:</p>
        <ul class="flex justify-center space-x-4 mt-2">
            <li><a href="[link-linkedin]" class="text-blue-400 hover:underline">LinkedIn</a></li>
            <li><a href="[link-github]" class="text-gray-400 hover:underline">GitHub</a></li>
            <li><a href="[link-twitter]" class="text-blue-300 hover:underline">Twitter</a></li>
        </ul>
    </div>
</footer>