<header class="bg-gray-800 text-white p-4">
    <nav class="container mx-auto flex justify-between">
        <h1 class="text-lg font-bold">João Álvaro</h1>
        <ul class="flex space-x-4">
            <li><a href="#sobre" class="hover:underline">Sobre Mim</a></li>
            <li><a href="#formacao" class="hover:underline">Formação</a></li>
            <li><a href="#projetos" class="hover:underline">Projetos</a></li>
            <li><a href="#competencias" class="hover:underline">Competências</a></li>
            <li><a href="#social" class="hover:underline">Social</a></li>
        </ul>
    </nav>
</header>